---
layout: archive
title: "Work Experience"
lang: en
permalink: /en/experiences/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
{% assign page_lang = page.lang | default: 'fr' %}

{% assign sorted_experiences = site.experiences | sort: 'date' | reverse %}
{% for post in sorted_experiences %}
  {% assign post_lang = post.lang | default: 'fr' %}
  {% if post_lang == page_lang %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
