---
layout: archive
title: "Academic Background"
lang: en
permalink: /en/parcours/
author_profile: true
---
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
{% assign page_lang = page.lang | default: 'fr' %}

{% assign sorted_parcours = site.parcours | sort: 'date' | reverse %}
{% for post in sorted_parcours %}
  {% assign post_lang = post.lang | default: 'fr' %}
  {% if post_lang == page_lang %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
