---
layout: archive
title: "Expériences professionnelles"
permalink: /experiences/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Vous pouvez également trouver mes articles sur <a href="{{site.author.googlescholar}}">mon profil Google Scholar</a>.</div>
{% endif %}

{% include base_path %}
{% assign page_lang = page.lang | default: 'fr' %}

{% assign sorted_experiences = site.experiences | sort: 'date' | reverse %}
{% for post in sorted_experiences %}
  {% assign post_lang = post.lang | default: 'fr' %}
  {% if post_lang == page_lang %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
